/*styles de Planner*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
*, *::before,*::after{
    box-sizing: border-box;
}
/*El primer color de fondo del body*/
.fondo1{
    background-color:white
}
.fondo2{
    background-color:white;
}
/*Margen para el navegador*/
nav{
    margin: 10px;
}
/*Resaltar letra*/
.negrilla{
    font-weight: 900;
}
/*Tamaños de letra*/
.letra_mediana{
    font-size: 21px;
}
.letra_grande{
    font-size: 50px;
}
.letra_extragrande{
    font-size: 70px;
}
/*centrar en general*/
.centrar{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
/*botones en general*/
.boton{
    padding: 1px 1.4em;
    margin:4px;
    display: inline-block;
}
.boton:active {
    transform: scale(.95);
}
/*botones naranjas en general, en especial los del navegador*/
.boton_naranja{
    background-color: #f4944c;
    margin-left: 45px;
    margin-right: 45px;
    color: black;
}
.boton_naranja:hover{
    background-color: #ee7842;
}
.interes:hover{
    background-color: rgb(224, 224, 201);
}
.interes:active{
    transform: scale(.95);
}
.introduccion{
    width:75%;
}
.izquierda{
    position:absolute;
    left:0;
    top:10px;
}
.text_left{
    text-align: left;
}
.inline_block{
    display: inline-block;
}

.cabecera{
    background-color: #ea681a;
    padding: 10px;
}
.menu_perfil{
    background-color: #fff7e0;
    padding: 20px;
    width: 20%;
    height: 850px;
    float:left;
    margin: 0;
}
.cont_info_perfil{
    margin-top:20px;
    margin-left: 130px;
}
.boton_naranja2{
    background-color:#dd5e17;
    color:white;
    box-shadow:4px 3px black;
    margin:15px 0;
}
.info_perfil{
    margin-left: 30px;
    position: relative;
    bottom: 85px;
}
.logo{
    position: absolute;
    right: 500px;
    left:6px;
    top: 3px;
}
.link{
    text-decoration:underline;
}

/*Estilos tabla del Cronograma*/

#tabla {
    border-collapse: collapse;
}
tbody {
    background: white;
}
tbody tr {
    height: 70px
}
td, th {
    border: black 2px solid;
}
.clase-tabla {
    float: center;
}

/*Tablas clases estudiante*/

.cont_cla-est{
    margin-top:20px;
    margin-left: 100px;
}
#tabla-cl-es {
    border-collapse: collapse;
}
#clase-cl-es {
    background: #fad8ad;
}
#clase-cl-es tr {
    height: 40px;
}
#clase-cl-es tr td, #clase-cl-es th {
    border: none;
}
.button {
    background-color: #f76f21;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
}
#tabla1-cl-est {
    float: left;
    display: inline;
    padding-left: 40px;
}
/*botón de atras oscuro y con letras blancas*/
.atras{
    background-color: #e35d16;
    color: white;
    margin: 25px;
}
/*Alinear el boton de Atrás con el cuadro del calendario*/
.calen-cla{
    margin-left: 20px;
    float: left;
}
/*estilo de los campos para ingresar información*/
textarea{
	width:100%;
	height:100px;
	border:1px solid white;
	border-radius:3px;
	background-color:white;			
	margin:8px 0;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
	display:block;
    
}
.columna_izquierda{
    display: inline-block;
    /*position: static;*/
    width: 250px;
    height: 882px;
    padding: 100px 40px;
    background-color: rgba(233, 139, 76, 0.911);
    
}
.botton{
    width: 180px;
    border-style: solid;
    border-radius: 7px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(248, 95, 7);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    cursor: pointer;
}
.botton:hover{
    background-color: rgb(238, 62, 9);
}
.botton:active{
    transform: scale(.95);
}